<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Security Demo</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' || #httpServletRequest.getRequestURI() == '/home' ? 'active':''}"><a href="/">Home</a></li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user"><span sec:authentication="name">Bob</span></a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>