.loginscreen .btn-primary.disabled
{
  background-color: #188bc;
  opacity: 0.4;
}

.loginscreen .btn-primary.active
{
  background-color: #188bc;
  opacity: 1;
}
.loginscreen.middle-box {
  width: 300px;
}

.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 80px;
}

.user-info {
  padding-top: 80px;
}

.user-info-button {
  width: 40%;
  margin: 5px;
}

.panel-body {
  flex: 1 1 auto;
  padding: 10px;
}

.m-t {
  margin-top: 15px;
}

.gray-bg,
.bg-muted {
  background-color: #f3f3f4;
}

.m-b {
  margin-bottom: 15px;
}

.full-width {
  width: 100% !important;
}

.block {
  display: block;
}

.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}
.help-block {
  margin-bottom: 0
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}

.fv-has-feedback {
  position:relative
}